seed: 0
device: cpu

data:
  type: cellot_lupuspatients_kang_hvg
  params:
    path: datasets/scrna-lupuspatients/kang-hvg.h5ad
    holdout_client: 101
    split_mode: ood
    max_clients: 3
    min_cells_per_client: 500
    target_ref_size: 8000
    target_test_size: 600
    pca_dim: 50
    standardize: false
    seed: 0

loaders:
  batch_size: 256
  target_batch_size: 256
  test_batch_size: 512
  synth_batch_size: 512
  drop_last: true

stage1:
  epochs: 10
  lr: 0.001
  hidden: [256, 256]
  time_emb_dim: 64
  label_emb_dim: 32
  label_prior:
    enabled: true
    mechanism: gaussian
    sigma: 1.0
  dp:
    enabled: false

stage2:
  option: A
  epochs: 10
  lr: 0.001
  flow_steps: 30
  dp:
    enabled: false
  cellot:
    enabled: true
    hidden_units: [64, 64, 64]
    activation: LeakyReLU
    softplus_W_kernels: false
    softplus_beta: 1.0
    kernel_init:
      name: uniform
      b: 0.1
    optim:
      optimizer: Adam
      lr: 0.0001
      beta1: 0.5
      beta2: 0.9
      weight_decay: 0.0
    f_fnorm_penalty: 0.0
    g_fnorm_penalty: 1.0
    n_inner_iters: 5
    n_iters: null
  rectified_flow:
    enabled: false

stage3:
  epochs: 10
  lr: 0.001
  hidden: [256, 256]
  flow_steps: 30
  M_per_client: 2000
  ref_train_size: 50

privacy_curve:
  enabled: false

membership_inference:
  enabled: false

shadow_mia:
  enabled: false

stage_mia:
  enabled: false

stage_shadow_mia:
  enabled: false

